<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding >
    <ion-list inset>
        
        <ion-item>
          <ion-label floating style="color:blueviolet;">Username</ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating style="color:blueviolet;">Password</ion-label>
          <ion-input type="password" placeholder=""></ion-input>
        </ion-item>

        <button ion-button color="default" outline (click)="loginbtn()" >Login</button><br>
        <button ion-button color="dark" outline (click)="registerbtn()" >Register</button>

    </ion-list>    

</ion-content>
