<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>
        
        <ion-item>
          <ion-label></ion-label>
          <ion-input type="text" placeholder="Enter Username"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label></ion-label>
          <ion-input type="text" placeholder="Enter Email address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label></ion-label>
          <ion-input type="number" placeholder="Enter mobile number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="Enter new password"></ion-input>
        </ion-item><br><br>
        <button ion-button color="dark" outline (click)="registerbtn()" full>Register</button>

    </ion-list> 
</ion-content>
