<ion-header>
  
</ion-header>

<ion-content padding>
    <button ion-button color="default" outline (click)="skipbtn()" clear style="float: right;">Skip</button>
  <ion-slides pager>
      
      <ion-slide>
        <img src="assets/images/mask.png">
      </ion-slide>
    
      <ion-slide>
        <img src="assets/images/rude.png">
      </ion-slide>
    
  </ion-slides>
  
</ion-content>
